<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание теста</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div id="header">
        <div>
            <button class="btn btn_header"><a href="/personal_account">Личный кабинет</a></button>
        </div>
    </div>
    <div class="general">
        <form class="main" method="post">
            <h3>Создать тест</h3>
            <hr>
            {{{body}}}
            <hr>
            <div class="center_div">
                <button type="submit" class="btn" id="save"><a>Сохранить тест</a></button>
            </div>
        </form>
    </div>
    <script src="../../js/teacher/create_test.js"></script>
</body>
</html>